<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CBR_Libary_Checker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CBR_Libary_Checker.My.MySettings>
            <setting name="HideUnwanted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="torrentfolder" serializeAs="String">
                <value>\\RAVIENSERVER\2015Torrents\0-Day Week of 2015.05.13</value>
            </setting>
            <setting name="unsortedfolder" serializeAs="String">
                <value>\\RAVIENSERVER\Comics\Comics</value>
            </setting>
            <setting name="LibaryFolder" serializeAs="String">
                <value>\\RAVIENSERVER\Comics\Comics</value>
            </setting>
            <setting name="Favorites" serializeAs="String">
                <value>Test;test2;test3;test4</value>
            </setting>
        </CBR_Libary_Checker.My.MySettings>
    </userSettings>
</configuration>